.location input {
    margin-left: 5%;
}

.priceForm{
    display: flex;
    flex-wrap: wrap;
}

.priceForm input{
    width: 10%;
    height: 50%;
    margin-left: 5%;
    margin-top: 2.5%;
    margin-right: 5%;
    margin-bottom: 0%;
    
}

.fish, .human{
    display: flex;
}